<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322146099602-tgvpks2buhd1m6jvfh4qr0b8ibufvb4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322146099602-tgvpks2buhd1m6jvfh4qr0b8ibufvb4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>322146099602-j6js85vbn8be189rr6tm6om6hoai8k05.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSdnzcIrXHmqjckW5sgdDRRh02JENojxE</string>
	<key>GCM_SENDER_ID</key>
	<string>322146099602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterscreens.appdistritojaragua</string>
	<key>PROJECT_ID</key>
	<string>iasd-vila-aurora-7</string>
	<key>STORAGE_BUCKET</key>
	<string>iasd-vila-aurora-7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322146099602:ios:cc0e9eab08aea68da8e14b</string>
	<key>DATABASE_URL</key>
	<string>https://iasd-vila-aurora-7-default-rtdb.firebaseio.com</string>
</dict>
</plist>